<template>
    <div class="about">
        <h1>Hello {{ their_name }}, this is an about page</h1>
        <p>Wow, that's so cool you are from Japan. Are you from Tokyo? If so, I just wanted to say I was born and raised in Florida USA, and I've visited Tokyo 5 times and I absolutely love Tokyo, and all of Japan. It is so fun and awesome there. It's just so modern and clean. Tokyo at night is spectacular. I visited Shibuya crossing and ate food at that Starbucks inside the big TV screen building. I also visited the big Yodabashi camera store  in Shinjuku. I love Japan so much, my dream and goal is to marry a Japanese woman someday, no matter how she looks or her age. I'm age 50, so maybe I could still find a   woman there? Anyhow, I understand what you said about bring more afraid of humans more than anything else. I'm one of the few friendly humans here in the USA. I'm  probably the nicest, friendliest person that you would ever meet. Anyhow, if you happen to know a Japanese woman that from Japan wants to get married, please let me know, thanks.</p>
    </div>
</template>

<script>
export default {
  name: 'Skills',
  data() {
    return {
      their_name: this.$route.params.name
    }
  }
}
</script>